

.Lista-capas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

.Grupo>h1{
    text-align: left;
}

@media (max-width: 600px) {
    .Lista-capas>img{
        margin: 5px;
    }
   
}
