

.Lista-capas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}

.Grupo>h1{
    text-align: left;
}

@media (max-width: 600px) {
    .Lista-capas>img{
        margin: 5px;
    }
   
}

.paraTodosAnimes{
    height: 50px;
    width:200px;
    border-radius: 15px;
    background-color: rgba(77, 77, 240, 0.884);
    margin-bottom: 100px;
    margin-left: 30%;
}